/* ## Man CSS ## */

/* # Man */
.Man {
    position: absolute;
    top: 0px;
    right: 100px;
    visibility: collapse;
}

@media screen and (min-width: 900px) {
    .Man {
        visibility: visible;
    }
}

/* # Dog */
.Dog {
    position: absolute;
    top: 160px;
    right: 300px;
    visibility: collapse;
    animation: reversed 1s linear infinite;
}

@media screen and (min-width: 900px) {
    .Dog {
        visibility: visible;
    }
}